    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Geosaber</h2>
              <br/>
                <p><a href="https://www.geosaber.com.br">Geosaber</a> é uma iniciativa criada por S. S. Goveia em 2008.</p>
                <p>Tem a finalidade de disponibilizar Cursos de Geoprocessamento, Sensoriamento Remoto e Análise de Dados Espaciais utilizando FOSS4G <em>(Free and Open Source Software for Geospatial)</em></p>
                <p>Sidney Schaberle Goveia é Sócio-Consultor da <a href="https://www.audoc.com.br">Audoc.con Assessoria e Consultoria</a></p>
                <p><em>Geosaber</em> é uma Marca Registrada e seu uso é expressamente proibido</p>
                <br/>
              </div>
        </div>
    </section>
